@using Shared.Application.Utility
@using BingoShop.WebApplication.Utility
@model List<Blogs1.Application.Contract.BlogService.Query.SpecialBlogForUIQueryModel>
@{
	
}
@if (Model.Count >= 4)
{
	var largePost = Model.OrderByDescending(x => x.Likes).First();
		var smallPosts = Model.Where(x => x.Id != largePost.Id).ToList();
	
	

	<section class="featured-posts-grid">
		<div class="container">
			<div class="row row-8">
				<div class="col-lg-6">
					<div class="featured-posts-grid__item featured-posts-grid__item--sm">
				
					
						@foreach (var blog in smallPosts)
						{
							<article class="entry card post-list featured-posts-grid__entry mt-2">

								<div class="entry__body post-list__body card__body">
									<h2 class="entry__title">
										<a href="/blogs/blog/@blog.Slug">@blog.Title</a>
									</h2>
									<ul class="entry__meta">
										<li class="entry__meta-author">
											<span>نویسنده:</span>
											<a href="#">@blog.Author</a>
										</li>
										<li class="entry__meta-date">
											@blog.CreateDate
										</li>
									</ul>
								</div>

								<div class="entry__img-holder post-list__img-holder card__img-holder" style="background-image: url(@Directories.GetBlogImageFullPath(blog.ImageName,null))">
									<a href="/blogs/blog/@blog.Slug" class="thumb-url"></a>
									<img src="@Directories.GetBlogImageFullPath(blog.ImageName,null)" alt="@blog.ImageAlt" class="entry__img d-none">
									<a href="/blog/blogs?slug=@(blog.SubCategory != null ? blog.SubCategory.Slug : blog.Category.Slug)" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--@RandomCategoryColorMaker.GenerateRandomColor()">@((blog.SubCategory != null ? blog.SubCategory.Title : blog.Category.Title))</a>
								</div>
							</article>
						}


				
					</div> 

				</div>
				<div class="col-lg-6">

					<!-- Large post -->
					<div class="featured-posts-grid__item featured-posts-grid__item--lg mt-2">
						<article class="entry card featured-posts-grid__entry">
							<div class="entry__img-holder card__img-holder">
								<a href="/blog/@largePost.Slug">
									<img src="@Directories.GetBlogImageFullPath(largePost.ImageName,null)" alt="@largePost.ImageAlt" class="entry__img">
								</a>
								<a href="/blog/blogs?slug=@(largePost.SubCategory != null ? largePost.SubCategory.Slug : largePost.Category.Slug)" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--@RandomCategoryColorMaker.GenerateRandomColor()">@((largePost.SubCategory != null ? largePost.SubCategory.Title : largePost.Category.Title))</a>
							</div>

							<div class="entry__body card__body">
								<h2 class="entry__title">
									<a href="/blogs/blog/@largePost.Slug">@largePost.Title</a>
								</h2>
								<ul class="entry__meta">
									<li class="entry__meta-author">
										<span>نویسنده:</span>
										<a href="#">@largePost.Author</a>
									</li>
									<li class="entry__meta-date">
										@largePost.CreateDate
									</li>
								</ul>
							</div>
						</article>
					</div> 
				</div>

			</div>
		</div>
	</section>
}
