@using Shared.Application.Utility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Users1.Application.Contract.UserService.Query
@model Query.Contract.Admin.EmailUser.EmailUserAdminFilteredPaging
@inject IUserQuery _UserQuery
@{
	ViewData["Title"] = "ایمیل کاربران خبر نامه";
	
}

<form class="form-inline ml-3  float-sm" 

      action="/admin/EmailUsers" method="get">
	<div class="input-group input-group-sm " style=" display: flex;
	                                                align-items: center; width: 300px; margin-right: 400px; padding : 10px">

		<input class="form-control " type="search" placeholder="جستجو کنید..." aria-label="Search" name="q" value="@Model?.FilterParams.Title">
		<button class="btn btn-sm btn-success " style="margin-right: 6px" type="submit">
			<i class="fa fa-search">جستجو</i>
		</button>
		<div class="input-group-append ">
		</div>
	</div>
	<hr>
</form>

<hr>

<div class="table-responsive-md">
	<table class="table table-bordered text-sm table-sm  table-hover ">

		<thead class="">

		<tr>
			<th class="">#</th>
			<th class="col-2"> نام  </th>
			<th class="col-2">ایمیل</th>
			<th class="col-2"> تاریخ ایجاد</th>

			<th class="col-2">عملیات</th>
		</tr>

		</thead>
		<tbody>

		@if (Model.Emails.Any())
		{
			@foreach (var email in Model.Emails)
			{
				var userFullName = _UserQuery.GetUserBy(email.UserId)?.FullName;
						@if (userFullName == null)
							userFullName =  "ثبت نام نکرده است";
				<tr>
					<td>@email.Id</td>
					
					<td class="text-@((email.IsActive ? "success" : "danger"))">
							@userFullName
						@((email.IsActive ? "( فعال)" : "(غیر فعال)"))
					</td>


					<td>
						@email.CreateDate
					</td>

					<td class="btn-group-sm">

						@{
							string title = email.IsActive ? "غیر فعال شود؟" : "فعال شود؟";
								string text = email.IsActive ? "در این صورت این ایمیل دیگر از عضویت در خبر نامه در می آید" : "در این صورت این ایمیل عضو خبرنامه میشود";
								string confirmText = email.IsActive ? "غیر فعال شود" : "فعال شود";
								string cancelText = email.IsActive ? "فعال بماند" : "غیر فعال بماند";
						}
							@if (email.IsActive)
						{
								<a class="btn   btn-danger mr-1" onclick="ajaxSweetAlertRefresh('@title','@text','@confirmText','@cancelText','/Admin/EmailUsers/ChangeActivation/@email.Id')">
								غیر فعال کردن
							</a>
						}
						else
						{
								<a class="btn   btn-success mr-1" onclick="ajaxSweetAlertRefresh('@title','@text','@confirmText','@cancelText','/Admin/EmailUsers/ChangeActivation/@email.Id')">
								فعال کردن
							</a>
						}



					</td>
				</tr>


			}
		}
		else
		{
			<h1>چیزی برای نمایش وجود ندارد...</h1>
		}

		</tbody>
	</table>
	</div>
	@if (Model?.TotalPages > 1)
	{
		<div class="row">
			<ul class="pagination pagination-sm " style="margin-right: 500px">
				@if (Model.CurrentPage > 1)
				{
				<li class="page-item"><a disabled class="page-link" asp-area="Admin" asp-controller="EmailUsers" asp-action="Index" asp-route-pageId="@(Model.CurrentPage-1)" asp-route-q="@Model.FilterParams.Title">&laquo;</a></li>
				}
				@for (var i = Model.StartPage; i <= Model.EndPage; i++)
				{
					<li class="page-item "><a href="/Admin/EmailUsers?pageId=@i&q=@Model.FilterParams.Title" class="page-link" @((Model.CurrentPage == i ? "class='bg-primary'" : "")) @((i == Model.CurrentPage ? "class='disabled-link'" : ""))>@i</a></li>
				}
				@if (Model.CurrentPage < Model.EndPage)
				{
				<li class="page-item"><a disabled class="page-link" asp-area="Admin" asp-controller="EmailUsers" asp-action="Index" asp-route-pageId="@(Model.CurrentPage+1)" asp-route-q="@Model.FilterParams.Title">&raquo;</a></li>
				}

			</ul>
		</div>

	}
