@using Shared.Domain.Enums
@model Query.Contract.Admin.Comment.CommentAdminQueryModel?
@{
	ViewData["Title"] = "جزییات کامنت ";
	ViewData["Selected"] = "Comments";

}
@if (Model != null)
{	
	<div class="row" style="margin-right: 250px; margin-left: 250px;">
		<div class="col-xs-12">
			<div class="box">
				
				<div class="box-body">
				

					<dl class="dl-horizontal">
						<br/>
						<dt>
							کاربر سایت ؟
						</dt>
						<dd>
							@if (Model.UserId > 0)
							{
								<p class="text-success">بله</p>

							}
							else
							{
								<p>کاربر سایت نیست</p>
							}
						</dd>
						<hr />
						<dt>
							نام کامل :
						</dt>
						<dd>
							@Html.DisplayFor(model => model.FullName)
							<a class="btn btn-sm btn-warning" href="#"> <i class="fa fa-user" aria-hidden="true"></i></a>
						</dd>
						<hr />
						<dt>
							نوع کامنت :
						</dt>
						<dd>
							@Html.DisplayFor(model => model.CommentFor)
						
						
							
							@if (Model.OwnerId > 0 && Model.CommentFor == CommentFor.بلاگ)
							{
								<a class="btn btn-sm btn-info">دیدن مقاله </a>
							} else if (Model.OwnerId > 0 && Model.CommentFor == CommentFor.محصول)
							{
								<a class="btn btn-sm btn-info">دیدن محصول </a>
							}
						</dd>

						<hr />
						<dt>
							متن کامنت :
						</dt>
						<dd style="height:100px">
							@Html.DisplayFor(model => model.Text)
						</dd>
						<hr />
						<dt>
							ایمیل :
						</dt>
						<dd>
							@Html.DisplayFor(model => model.Email)
						</dd>
						<hr />
						<dt>
							تاریخ ثبت :
						</dt>
						<dd>
							@Html.DisplayFor(model => model.CreateDate)
						</dd>
						<hr />
						<dt>
							وضعیت :
						</dt>
						<dd>
							@Model.CommentStatus.ToString().Replace("_", " ")
							<a class="btn btn-sm btn-primary" asp-action="ChangeStatus">تغییر وضعیت</a>
						</dd>
						<hr />
						@if (Model.CommentStatus == CommentStatus.رد_شده)
						{
							<dt>
								دلیل رد شدن کامنت :
							</dt>
							
							<dd style="height:100px">
								@Html.DisplayFor(model => model.WhyRejected)
							</dd>
						}

					</dl>
					<hr/>
					<div class=" text-center">
						<a class="btn btn-danger col col-12 " asp-action="Index">بازگشت</a>


					</div>
				</div>
			</div>
		</div>
		
	</div>

	
}
else
{
	<h1>مشکلی پیش آمده.. دوباره امتحان کنید</h1>
}
