@using Shared.Domain.Enums
@using Shared.Application.Utility
@model Query.Contract.Admin.Comment.CommentAdminFilteredPaging
@{
	ViewData["Title"] = "مدیریت کامنت ها";
	ViewData["Selected"] = "Comments";
	var counter = Model.Skip +1;
}
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div>
					<form class="form-inline ml-3  float-sm" asp-controller="Comments" asp-action="Index" method="get">
					
                        <input type="hidden" value="1" name="pageId"/> 
                        <input type="hidden" value="10" name="take"/>
                        @if (Model.OwnerId != null && Model.OwnerId > 0)
                        {
                            <input type="hidden" value="@Model,OwnerId" name="ownerId"/>
                    
                        }

                        <div class="form-control">
                    
                        <label>بخش کامنت را انتخاب کنید</label>
	                    @Html.EditorFor(x=> x.CommentFor)
                    </div>
                        <div class="form-control" >
	                        <label>وضعیت کامنت را انتخاب کنید</label>
	                        @Html.EditorFor(x=> x.CommentStatus)
                        </div>
						
                        <input class="form-control " type="search" placeholder="جستجو کنید..." aria-label="Search" name="q" value="@Model?.FilterParams.Title">
                        <button class="btn btn-sm btn-primary " type="submit">
	                        <i class="fa fa-search">جستجو</i>
                        </button>
					</form>

				</div>

				<hr/>
				<div class="row">
					
				</div>


			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="table-responsive-md">
					<div class="table-responsive-md">
						
                        <div class="table-responsive-md">
                            <table class="table table-bordered text-sm table-sm  table-hover ">
                        
                                <thead class="">
                        
                                    <tr>
                                        <th class="">#</th>
                                        <th class="col-2">نام</th>
                                        <th class="col-2">ایمیل</th>
                                        <th class="col-2">تاریخ ایجاد</th>
                                        <th class="col-2">متن</th>
                                        <th class="col-2">کامنت پدر</th>
                                        <th class="col-2"> کامنت های جواب</th>
                                        <th class="col-1">نوع کامنت</th>
                                        <th class="col-1">وضعیت</th>
                                        <th class="col-4">عملیات</th>
                                    </tr>
                        
                                </thead>
                                <tbody>
                        
                                    @if (Model?.Comments != null && Model.Comments.Any())
                                    {
                                        @foreach (var comment in Model.Comments)
                                        {
                                            <tr>
                                                <td>@(counter++)</td>
                        
	                                            <td>
		                                            <b>@comment.FullName</b>
		                                            <br/>
		                                            @if (comment.UserId < 1)
		                                            {
			                                            <i class="text-info">(عضو نیست!)</i>
		                                            }
		                                            else
		                                            {
			                                            <i class="text-success">(عضو است )</i>
		                                            }
	                                            </td>
                                                <td>
                                                    @((comment.Email ?? "ننوشته"))
                                                </td>
                                                <td>
                                                    @comment.CreateDate 
                                                </td>
                        
                                                <td>
													@comment.Text.ToShortText()
                                                </td>
                                                <td>
                                                    @if (comment.ParentComment != null)
                                                    {
                                                        <i class="text-primary">دارد</i>
                                                        <a title="دیدن جزییات" class="btn btn-sm btn-info mr-2" asp-action="Detail" asp-route-id="@comment.ParentComment.Id"><i class="fa fa-info"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <i class="text-danger">ندارد</i>
                                                    }
                                                </td>
                                                <td>
                                                    @if (comment.ChildComments != null && comment.ChildComments.Any())
                                                    {
                                                        <ul>
                                                            @foreach (var child in comment.ChildComments)
                                                            {
                                                                <li>
                                                                    @child.Text.ToShortText()
																	<a class="btn btn-sm btn-info mr-2" asp-action="Detail" asp-route-id="@child.Id"><i class="fa fa-info"></i></a>
                                                                </li>
                                                            }
                                                        </ul>
                        
                                                    }
                                                    else
                                                    {
                                                        <i class="text-danger">ندارد</i>
                                                    }
                                                </td>
                                                <td class="mr-3 mt-3">
                                                    @comment.CommentFor
                                                </td>
                        
                                                <td class="mr-3 mt-3">
                                                    @if (comment.CommentStatus == CommentStatus.هنوز_دیده_نشده)
                                                    {
														<i class="fa fa-eye"></i>

														<i class="text-bold">	@comment.CommentStatus.ToString().Replace("_", " ")</i>

													
                                                    }
                                                    else if (comment.CommentStatus == CommentStatus.رد_شده)
                                                    {
														<i class="fa fa-cross"></i>

														<i class="text-danger text-bold">@comment.CommentStatus.ToString().Replace("_", " ")</i>
                                                    }
                                                    else if (comment.CommentStatus == CommentStatus.قبول_شده)
                                                    {
														<i class="fa fa-check"></i>

														<i class="text-success text-bold">@comment.CommentStatus.ToString().Replace("_", " ")</i>
                                                    }
                                                    
                                                </td>
                        
                        
                                                <td class="btn-group-sm">
                                                    
                                                    @if (comment.CommentStatus == CommentStatus.هنوز_دیده_نشده)
                                                    {
                                                        <a class="btn   btn-success mr-1" asp-action="ChangeStatus" asp-route-id="@comment.Id">
                                                            تعیین وضعیت
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn   btn-primary mr-1" asp-action="ChangeStatus" asp-route-id="@comment.Id">
                                                            تغییر وضعیت
                                                        </a>
                                                    }
                        
                                                </td>
                                            </tr>
                        
                        
                                        }
                                    }
                                    else
                                    {
                                        <h1>چیزی برای نمایش وجود ندارد...</h1>
                                    }
                        
                                </tbody>
                            </table>
                        </div>
                        
					</div>

				</div>

				<div class=" text-start">
					
					
                    @if (Model?.TotalPages > 1)
{
	<div class="row">
		<ul class="pagination pagination-sm " style="margin-right: 500px">
			@if (Model.CurrentPage > 1)
			{
				<li class="page-item"><a disabled class="page-link" asp-area="Admin" asp-controller="Comments" asp-action="Index" asp-route-pageId="@(Model.CurrentPage-1)" asp-route-q="@Model.FilterParams.Title" asp-route-commentFor="@Model.CommentFor" asp-route-commentStatus="@Model.CommentStatus">&laquo;</a></li>
			}
			@for (var i = Model.StartPage; i <= Model.EndPage; i++)
			{
				<li class="page-item "><a href="/Admin/Comments?pageId=@i&q=@Model.FilterParams.Title&commentFor=@Model.CommentFor&commentStatus=@Model.CommentStatus" class="page-link" @((Model.CurrentPage == i ? "class='bg-primary'" : "")) @((i == Model.CurrentPage ? "class='disabled-link'" : ""))>@i</a></li>
			}
			@if (Model.CurrentPage < Model.EndPage)
			{
					<li class="page-item"><a disabled class="page-link" asp-area="Admin" asp-controller="Comments" asp-action="Index" asp-route-pageId="@(Model.CurrentPage+1)" asp-route-q="@Model.FilterParams.Title" asp-route-commentFor="@Model.CommentFor" asp-route-commentStatus="@Model.CommentStatus">&raquo;</a></li>
			}

		</ul>
	</div>

}
				</div>
			</div>
		</div>
	</div>
</div>
