@using Shared.Application.Services
@using Shared.Application.Utility
@inject IAuthService _authService
@{
	var selected = ViewData["Selected"] as string;
	var userFullName = _authService.GetUserFullName();
	var userAvatar = _authService.GetUserAvatar();
}
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-right image">
				<img src="@Directories.GetUserAvatarFullPath(userAvatar,100)" class="img-circle" alt="User Image">
			</div>
			<div class="pull-right info">
				<span>@userFullName </span>
				<a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
			</div>
		</div>
		<!-- search form -->
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="" class="form-control" placeholder="جستجو">
				<span class="input-group-btn">
					<button type="submit" name="search" id="search-btn" class="btn btn-flat">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</form>
		<!-- /.search form -->
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu" data-widget="tree">
			<li class="header">منو</li>
			<li class="@((selected == "Users" || selected == "Roles" ? "active" : "")) treeview">

				<a href="#">
					<i class="fa  fa-user"></i> <span>مدیریت کاربران</span>
					<span class="pull-left-container">
						<i class="fa fa-angle-right pull-left"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li class="@((selected == "Users" ? "active" : ""))"><a href="/Admin/Users"><i class="fa fa-user-circle-o"></i>کاربران</a></li>
					<li class="@((selected == "Roles" ? "active" : ""))"><a href="/Admin/Roles"><i class="fa fa-hand-paper-o"></i>نقش ها</a></li>
				</ul>
			</li>
			<li class="@((selected == "Blogs" || selected == "BlogCategories" ? "active" : "")) treeview">
				<a href="#">
					<i class="fa fa-sticky-note"></i> <span>مدیریت بلاگ</span>
					<span class="pull-left-container">
						<i class="fa fa-angle-right pull-left"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li class="@((selected == "BlogCategories" ? "active" : ""))"><a href="/Admin/Categories"><i class="fa fa-paperclip"></i>دسته بندی ها</a></li>
					<li class="@((selected == "Blogs" ? "active" : ""))"><a href="/Admin/Blogs"><i class="fa fa-pencil"></i>مقاله ها</a></li>
				</ul>
			</li>
			<li>
			<li class="@((selected == "Comments" ? "active" : ""))"><a href="/Admin/Comments"><i class="fa fa-commenting"></i>مدیریت کامنت ها</a></li>
			</li>
			
			<li class="@((selected == "Posts" || selected == "States" ? "active" : "")) treeview">
				<a href="#">
					<i class="fa fa-truck"></i> <span>مدیریت پست </span>
					<span class="pull-left-container">
						<i class="fa fa-angle-right pull-left"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li class="@((selected == "Posts" ? "active" : ""))"><a href="/Admin/Posts"><i class="fa fa-circle-o"></i>پست ها</a></li>
					<li class="@((selected == "States" ? "active" : ""))"><a href="/Admin/States"><i class="fa fa-circle-o"></i> مدیریت استان ها</a></li>
				</ul>

			</li>
			<li class="@((selected == "EmailUsers" || selected == "SendEmails" || selected == "MessageUsers" ? "active" : "")) treeview">
				<a href="#">
					<i class="fa fa-paper-plane"></i> <span>  خبرنامه</span>
					<span class="pull-left-container">
						<i class="fa fa-angle-right pull-left"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li class="@((selected == "EmailUsers" ? "active" : ""))"><a href="/Admin/EmailUsers"><i class="fa fa-circle-o"></i>ایمیل های اعضا </a></li>
					<li class="@((selected == "SendEmails" ? "active" : ""))"><a href="/Admin/SendEmails"><i class="fa fa-circle-o"></i>ایمیل های ارسالی خبرنامه </a></li>
					<li class="@((selected == "MessageUsers" ? "active" : ""))"><a href="/Admin/MessageUsers"><i class="fa fa-circle-o"></i>پیام های ارتباط با ما</a></li>
				</ul>
			</li>
			<li class="@((selected == "Baners" || selected == "ImageSites" || selected == "Menu" || selected == "SitePage"|| selected == "SiteService"|| selected == "Slider"|| selected == "SiteSetting" ? "active" : "")) treeview">

				<a href="#">
					<i class="fa fa-cog"></i>
					<span>تنظیمات سایت</span>
					<span class="pull-left-container">
						<i class="fa fa-angle-right pull-left"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li class="@((selected == "Baners" ? "active" : ""))"><a href="/Admin/baner"><i class="fa fa-circle-o"></i> مدیریت بنرها </a></li>
					<li class="@((selected == "ImageSites" ? "active" : ""))"><a href="/Admin/ImageSite"><i class="fa fa-circle-o"></i> مدیریت تصاویر سایت </a></li>
					<li class="@((selected == "Menu" ? "active" : ""))"><a href="/Admin/Menu"><i class="fa fa-circle-o"></i> مدیریت منو </a></li>
					<li class="@((selected == "SitePage" ? "active" : ""))"><a href="/Admin/SitePage"><i class="fa fa-circle-o"></i> مدیریت پیج </a></li>
					<li class="@((selected == "SiteService" ? "active" : ""))"><a href="/Admin/SiteService"><i class="fa fa-circle-o"></i> مدیریت سایت سرویس </a></li>
					<li class="@((selected == "Slider" ? "active" : ""))"><a href="/Admin/slider"><i class="fa fa-circle-o"></i> مدیریت اسلایدها </a></li>
					<li class="@((selected == "SiteSetting" ? "active" : ""))"><a href="/Admin/SiteSetting"><i class="fa fa-circle-o"></i> تنظیمات کلی سایت </a></li>
				</ul>
			</li>
			<br/>
			<br />
			<br/>
			<br/>
			<br/>
			<br/>
			</ul>
	</section>
	<!-- /.sidebar -->
</aside>
