@using Shared.Application.Utility
@using BingoShop.WebApplication.Utility
@model Query.Contract.Ui.Blog.BlogUIPaging
@{
	ViewData["Title"] = Model.PageTitle;
	ViewData["Selected"] = "Blog";
	Layout = "Blog/_BlogLayout";

}

@section Seo
{

	<partial name="Blog/_SeoPartial" model="Model.Seo" />
}


<partial name="Blog/_BreadCrumbsPartial" model="Model.BreadCrumbs"/>

<div class="main-container container" id="main-container">

	
	<div class="row">

		
		<div class="col-lg-8 blog__content mb-72">
			<h1 class="page-title">@Model.PageTitle</h1>

			<div class="row card-row">
				@if (Model.Blogs.Any())
				{
					foreach (var blog in Model.Blogs)
					{
						<div class="col-md-6">
							<article class="entry card">
								<div class="entry__img-holder card__img-holder">
									<a href="/blogs/blog/@blog.Slug">
										<div class="thumb-container thumb-70">
											<img data-src="@Directories.GetBlogImageFullPath(blog.ImageName, null)" src="@Directories.GetBlogImageFullPath(blog.ImageName,null)" class="entry__img lazyloaded" alt="@blog.ImageAlt">
										</div>
									</a>
									<a href="/blog/blogs?slug=@blog.Category.Slug" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--@RandomCategoryColorMaker.GenerateRandomColor()">@blog.Category.Title</a>
								</div>

								<div class="entry__body card__body">
									<div class="entry__header">

										<h2 class="entry__title">
											<a href="single-post.html">@blog.Title</a>
										</h2>
										<ul class="entry__meta">
											<li class="entry__meta-author">
												<span>نویسنده:</span>
												<a href="#">@blog.Author</a>
											</li>
											<li class="entry__meta-date">
												@blog.CreateDate
											</li>
										</ul>
									</div>
									<div class="entry__excerpt">
										<p>@blog.Summary.ToShortText()</p>
									</div>
								</div>
							</article>
						</div>

					}}
				else
				{
					<h2>متاسفانه مقاله ای در این مورد یافت نشد...</h2>
				}

				
				
			</div>

			@if (Model.TotalPages > 1)
			{
				<nav class="pagination">
		
					@if (Model.CurrentPage > 1)
					{
						<a href="/Blog/Blogs?slug=@Model.Slug&q=@Model.FilterParams.Title&pageId=@(Model.CurrentPage-1)" class="pagination__page pagination__icon pagination__page--next"><i class="ui-arrow-right"></i></a>
					}
					@for (var i = Model.StartPage; i <= Model.EndPage; i++)
					{
						<a href="/Blog/Blogs?slug=@Model.Slug&q=@Model.FilterParams.Title&pageId=@i"  class="pagination__page @((Model.CurrentPage == i ? "pagination__page--current" : ""))">@i</a>
					}
					@if (Model.CurrentPage < Model.TotalPages)
					{
						<a href="/Blog/Blogs?slug=@Model.Slug&q=@Model.FilterParams.Title&pageId=@(Model.CurrentPage+1)" class="pagination__page pagination__icon pagination__page--next"><i class="ui-arrow-left"></i></a>
					}
		
				</nav>
			}
		</div> 
		
		<aside class="col-lg-4 sidebar sidebar--right">

			@await Component.InvokeAsync("PopularBlogs")

			<partial name="Blog/_BlogNewsLetter" />

			@await Component.InvokeAsync("BlogLeftBaner")

		</aside> 

	</div> 
</div>

					@section Scripts
					{
						
						<script src="/assets/sweet_alert/js/sweetalert2.js"></script>

					}
