@using Shared.Application.Utility
@model List<PostModule.Application.Contract.StateQuery.StateAdminQueryModel>

@{
	
	ViewData["Title"] = "مدیریت استان ها";
	ViewData["Selected"] = "States";
	
}
<br>
<div class="row">
	<div class=" col-lg-3"></div>
	<a class="btn   btn-success mt-5 col-lg-6  fa fa-plus" asp-action="Create">
		افزودن استان جدید
	</a>
	<div class=" col-lg-3"></div>

</div>
<hr>

<div class="table-responsive-md">
	<table class="table table-bordered text-sm table-sm  table-hover ">

		<thead class="">

			<tr>
				<th class="col-2">#</th>
				<th class="col-2"> نام استان </th>
				<th class="col-2">تعداد شهر ها</th>
				<th class="col-2">استان های همجوار</th>
				<th class="col-4">عملیات</th>
				
			</tr>

		</thead>
		<tbody>

			@if (Model.Any())
			{
				@foreach (var state in Model)
				{
					<tr>
						<td>@state.Id</td>
						<td>@state.Title</td>

						<td>@state.CityCount
							<a class="btn   btn-info mr-1" asp-controller="Cities" asp-action="Index" asp-route-id="@state.Id">
								دیدن شهر ها
							</a>
							</td>
						<td>@state.CloseStates.Replace("-",",")</td>
						<td>
							
							<a class="btn   btn-primary mr-1" asp-action="Edit" asp-route-id="@state.Id">
								ویرایش
							</a>
							

						</td>


					</tr>


				}
			}
			else
			{
				<h1>چیزی برای نمایش وجود ندارد...</h1>
			}

		</tbody>
	</table>
</div>