@using Shared.Application.Utility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Shared.Domain.Enums
@model Blogs1.Application.Contract.BlogService.Query.FilteredBlogQueryModel?
@{
	ViewData["Title"] = "مدیریت مقاله ها";
	ViewData["Selected"] = "Blogs";

	var counter = Model?.Skip ?? 0;

}


<form class="form-inline ml-3  float-sm" 

 action="/admin/blogs" method="get">
	<div class="input-group input-group-sm " style=" display: flex;
	                                                align-items: center; width: 300px; margin-right: 400px; padding : 10px">

		<input class="form-control " type="search" placeholder="جستجو کنید..." aria-label="Search" name="q" value="@Model?.FilterParams.Title">
		<button class="btn btn-sm btn-success " style="margin-right: 6px" type="submit">
			<i class="fa fa-search">جستجو</i>
		</button>
		<div class="input-group-append ">
		</div>
	</div>
	<hr>
</form>

<br>
<div class="row">
	<div class=" col-lg-3"></div>
	<a class="btn btn-primary col-lg-6" asp-action="Create">افزودن مقاله جدید</a>
	
	
	<div class=" col-lg-3">
		<a class="btn btn-primary col-lg-3 " href="/admin/seo/0/@WhereSeo.Blog">
			SEO
		</a>
	</div>


</div>
<hr>

<div class="table-responsive-md">
	<table class="table table-bordered text-sm table-sm  table-hover ">

		<thead class="">

		<tr>
			<th class="">#</th>
			<th class="col-2">عکس</th>
			<th class="col-2">عنوان</th>
			<th class="col-2">دسته بندی</th>
			<th class="col-2">تاریخ ثبت</th>
			<th class="col-2">تاریخ ویرایش</th>
			<th class="col-1">پست ویژه</th>
			<th class="col-4">عملیات</th>
		</tr>

		</thead>
		<tbody>

		@if (Model?.Blogs != null && Model.Blogs.Any())
		{
			@foreach (var blog in Model.Blogs)
			{
				<tr>
					<td>@(counter += 1)</td>

					<td><img src="@Directories.GetBlogImageFullPath(@blog.ImageName,100)" width="100" height="100" alt="@blog.ImageAlt" />
						</td>
					<td>
							@blog.Title
					</td>

					<td>
						<ul>

							<strong>
								@blog?.CategoryTitle
							</strong>
							<li class="mr-5 p-2">
								@blog?.SubCategoryTitle
							</li>
						</ul>
					</td>
					<td>
						@blog.CreateDate
					</td>
					<td>
						@blog.UpdateDate
					</td>
					<td class="mr-3 mt-3">
						@if (blog.IsSpecial)
						{
							<i class="fa fa-check checked bg-success"></i>
							
						}
						else
						{
							<i class="fa fa-close  bg-danger"></i>
						}
							<a class="btn btn-action" onclick="sweetAlertConfirmLink(event,'آیا مطمعنید؟ پست های ویژه در بخش ویژه نمایش داده میشوند')" asp-action="ChangeSpecialation" asp-route-blogId="@blog.Id" asp-route-pageId="@Model.FilterParams.PageId">تغییر؟</a>
					</td>


					<td class="btn-group-sm">

						<a class="btn   btn-primary mr-1" asp-action="Edit" asp-route-id="@blog.Id" >
							ویرایش
						</a>

						<a class="btn   btn-primary mr-1" href="/admin/seo/@blog.Id/@WhereSeo.Blog">
							seo
						</a>

						<a class="btn btn-info mr-1 pr-3 pl-3" >دیدن مقاله</a>
						@*	<a class="btn btn-danger mr-1" href="javascript:void(0);" onclick="Delete(@postDto?.Id)"> حذف</a>*@
						@if (@blog.Active)
						{
								<a class="btn   btn-danger mr-1" onclick="sweetAlertConfirmLink(event,'با این کار این پست از حالت نمایش در سایت خارج میشود')" asp-action="ChangeActivation" asp-route-blogId="@blog.Id" asp-route-pageId="@Model.FilterParams.PageId">
								غیر فعال کردن
							</a>
						}
						else
						{
								<a class="btn   btn-success mr-1" onclick="sweetAlertConfirmLink(event,'با انی کار این مقاله فعال شده و در وبلاگ نمایش داده میشود')" asp-action="ChangeActivation" asp-route-blogId="@blog.Id" asp-route-pageId="@Model.FilterParams.PageId">
								فعال کردن
							</a>
						}
					</td>
				</tr>


			}
		}
		else
		{
			<h1>چیزی برای نمایش وجود ندارد...</h1>
		}

		</tbody>
	</table>
</div>

@if (Model?.TotalPages > 1)
{
	<div class="row">
		<ul class="pagination pagination-sm " style="margin-right: 500px">
			@if (Model.CurrentPage > 1)
			{
				<li class="page-item"><a disabled class="page-link" asp-area="Admin" asp-controller="Blogs" asp-action="Index" asp-route-pageId="@(Model.CurrentPage-1)" asp-route-q="@Model.FilterParams.Title">&laquo;</a></li>
			}
			@for (var i = Model.StartPage; i <= Model.EndPage; i++)
			{
				<li class="page-item "><a href="/Admin/Blogs?pageId=@i&q=@Model.FilterParams.Title" class="page-link" @((Model.CurrentPage == i ? "class='bg-primary'" : "")) @((i == Model.CurrentPage ? "class='disabled-link'" : ""))>@i</a></li>
			}
			@if (Model.CurrentPage < Model.EndPage)
			{
				<li class="page-item"><a disabled class="page-link" asp-area="Admin" asp-controller="Blogs" asp-action="Index" asp-route-pageId="@(Model.CurrentPage+1)" asp-route-q="@Model.FilterParams.Title">&raquo;</a></li>
			}

		</ul>
	</div>

}

				@section Scripts
				{
					
					<script>
						function sweetAlertConfirmLink(event, text) {

							console.log(text);
							event.preventDefault();
							if (text == "")
								text = "آیا از انجام عملیات اطمینان دارید ؟";
							Swal.fire({
								title: "هشدار !!",
								text: text,
								icon: "warning",
								confirmButtonText: "بله",
								showCancelButton: true,
								cancelButtonText: "خیر",
							}).then((willConfirm) => {
								if (willConfirm.value) {
									window.location.href = event.target.href;
								} else {
									return;
								}
							});
						}
					</script>

				}
